.wp-block-wp-yomigana{

  &-dl{

  }

  &-term{
    font-weight: bold;
  }

  &-description{
    margin-left: 1em;
  }

}


.editor-writing-flow{

  q:before {
    content: "\201C";
    html[lang=ja] &{
      content: "「";
    }
  }
  q:after{
    content: "\201D";
    html[lang=ja] &{
      content: "」";
    }
  }

}
